{{define "administration"}}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/adminadmin.css" />
  <title>Admin</title>
</head>

<body>
  <div class="contentall">
    <header>
      <div class="menu">
        <div class="cont">
          <a class="h-link" href="/Home">
            <img class="home" src="../static/img/index/home.png" alt="Home" />
            <p>ACCUEIL</p>
          </a>
        </div>
        <div class="cont">
          <a class="h-link" href="/categories">
            <img class="categories" src="../static/img/index/categories.png" alt="Categories" />
            <p>CATEGORIES</p>
          </a>
        </div>
        <a class="h-link" href="/admin">
          <img class="admin" src="../static/img/index/admin.png" alt="Admin" />
        </a>
      </div>
      <img class="logo" src="../static/img/index/logo.png" alt="Logo One Piece" />

      <div class="menu">
        <form action="" method="">
          <input type="text" id="search" name="q" placeholder="Cherchez le One Piece !" />
        </form>
        <div class="cont">
          {{if .Logged}}
          <a class="h-link" href="/logout"><img class="login" src="../static/img/index/login.png" alt="Login" />
            <p>{{.Cat}}</p>
          </a>
          {{else}}
          <a class="h-link" href="/login"><img class="login" src="../static/img/index/login.png" alt="Login" />
            <p>LOGIN</p>
          </a>
          {{end}}
        </div>
      </div>
    </header>
    <section>
      <form class="formu" action="/admin/GestionAdmin" method="post">
        <label for="username">Username:</label><br /><br />
        <input type="text" id="username" name="username" required /><br /><br />
        <button type="submit" class="transitionButton">Search</button>
      </form>
    </section>
    <footer></footer>
  </div>
</body>

</html>
{{end}}