{{define "adminConf"}}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/char.css" />
  <title>Admin</title>
</head>

<body>
  <div class="contentall">
    <header>
      <div class="menu">
        <div class="cont">
          <a class="h-link" href="/Home">
            <img class="home" src="../static/img/index/home.png" alt="Home" />
            <p>ACCUEIL</p>
          </a>
        </div>
        <div class="cont">
          <a class="h-link" href="/categories">
            <img class="categories" src="../static/img/index/categories.png" alt="Categories" />
            <p>CATEGORIES</p>
          </a>
        </div>
        <a class="h-link" href="/admin">
          <img class="admin" src="../static/img/index/admin.png" alt="Admin" />
        </a>
      </div>
      <img class="logo" src="../static/img/index/logo.png" alt="Logo One Piece" />

      <div class="menu">
        <!-- mettre en place une route treatment pour faire fonctionner la navbar -->
        <form action="/search" method="get">
          <input type="text" id="search" name="name" placeholder="Cherchez le One Piece !" />
        </form>
        <div class="cont">
          {{if .Logged}}
          <a class="h-link" href="/logout">
            <img class="login" src="../static/img/index/login.png" alt="Login" />
            <p>{{.Cat2}}</p>
          </a>
          {{else}}
          <a class="h-link" href="/login">
            <img class="login" src="../static/img/index/login.png" alt="Login" />
            <p>LOGIN</p>
          </a>
          {{end}}
        </div>
      </div>
    </header>
    <section>
      {{ if eq .Cat "Persos" }}
      <div class="infos">
        <p>
          ROLE : {{.Result.Specs.Apropos.Role}}<br /><br />
          FRUIT DU DEMON : {{.Result.Specs.Apropos.Fruit}}<br /><br />
          PERSONALITE : {{.Result.Specs.Apropos.Personalité}}<br /><br />
          APPARENCE : {{.Result.Specs.Apropos.Apparence}}<br /><br />
          CAPACITES : {{.Result.Specs.Apropos.Capacités}}<br /><br />
          HISTOIRE : {{.Result.Specs.Apropos.Histoire}}<br /><br />
        </p>
      </div>
      <div class="perso">
        <img class="imgperso" src="{{.Result.Img}}" alt="Image {{.Result.Name}}" />
        <div class="nomprime">
          <p>
            <br />
            {{.Result.Specs.FullName}}<br /><br />
          </p>
          <p>{{.Result.Specs.Prime}} Berrys<br /></p>
        </div>
        <p>Supprimer ?</p>
        <a href="/admin/delete/gestion?id=Persos/{{.Result.Specs.FullName}}"><button>Oui</button></a>
        <a href="/Home"><button>Non</button></a>
      </div>
      {{end}}

      {{ if eq .Cat "Arcs" }}
      <h2>Arcs</h2>
      <div class="arc-info">
        <div class="info-item">
          <span class="info-label">Arc: {{.Result.Name}}</span>
        </div>
        <div class="info-item">
          <img class="info-label" src="{{.Result.Img}}" alt="image arc" />
        </div>
        <div class="info-item">
          <span class="info-label">Description: {{.Result.Description}}</span>
        </div>
        <p>Supprimer ?</p>
        <a href="/admin/delete/gestion?id=Arcs/{{.Result.Name}}"><button>Oui</button></a>
        <a href="/Home"><button>Non</button></a>
        {{ end }}
      </div>

      {{ if eq .Cat "EventsOnePiece" }}
      <h2>Events</h2>
      <div class="events-info">
        <div class="info-item">
          <span class="info-label">Event: {{.Result.Name}}</span>
        </div>
        <div class="info-item">
          <span class="info-label">Description: {{.Result.Description}}</span>
        </div>
        <p>Supprimer ?</p>
        <a href="/admin/delete/gestion?id=Events/{{.Result.Name}}"><button>Oui</button></a>
        <a href="/Home"><button>Non</button></a>
        {{ end }}
      </div>
  </div>
  </section>
  <footer>
    <div class="mentproj">
      <br><br><br><br>
      <a class="ment" href="/mentionLegale">
        <p>MENTIONS LEGALES</p>
      </a>
      <br>
      <a class="ment" href="/Projet">
        <p>GESTION DE PROJET</p>
      </a>
    </div>
  </footer>
</body>

</html>
{{end}}