{{define "event"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/event.css" />
    <title>Event Presentation</title>
  </head>

  <body>
    <div class="contentall">
      <header>
        <div class="menu">
          <div class="cont">
            <a class="h-link" href="/Home">
              <img class="home" src="../static/img/index/home.png" alt="Home" />
              <p>ACCUEIL</p>
            </a>
          </div>
          <div class="cont">
            <a class="h-link" href="/categories">
              <img
                class="categories"
                src="../static/img/index/categories.png"
                alt="Categories"
              />
              <p>CATEGORIES</p>
            </a>
          </div>
          <a class="h-link" href="/admin">
            <img
              class="admin"
              src="../static/img/index/admin.png"
              alt="Admin"
            />
          </a>
        </div>
        <img
          class="logo"
          src="../static/img/index/logo.png"
          alt="Logo One Piece"
        />

        <div class="menu">
          <form action="/search" method="get">
            <input
              type="text"
              id="search"
              name="name"
              placeholder="Cherchez le One Piece !"
            />
          </form>
          <div class="cont">
            {{if .Logged}}
            <a class="h-link" href="/logout">
              <img
                class="login"
                src="../static/img/index/login.png"
                alt="Login"
              />
              <p>{{.Cat}}</p></a
            >
            {{else}}
            <a class="h-link" href="/login">
              <img
                class="login"
                src="../static/img/index/login.png"
                alt="Login"
              />
              <p>LOGIN</p></a
            >
            {{end}}
          </div>
        </div>
      </header>
      <section>
        <div class="infos">
          <h1>{{.Result.Name}}</h1>
          <p>
            {{.Result.Intro}}<br /><br />{{.Result.Description}}<br /><br />
          </p>
          <p class="auteur-ddc">{{.Result.Auteur}} {{.Result.DDC}}</p>
        </div>
        <div class="event">
          <p>{{.Result.Name}} <br /><br /></p>
          <img
            class="illu"
            src="{{.Result.Img}}"
            alt="Image {{.Result.Name}}"
          />
        </div>

        <div class="container">
          <h1>Event Presentation</h1>
          <div class="character-info">
            <h2>Event Details</h2>
            <div class="info-item">
              <span class="info-label">Name: {{.Result.Name}}</span>
            </div>
            <div class="info-item">
              <img
                class="info-label"
                src="{{.Result.Img}}"
                alt="affiche perso"
              />
            </div>
            <div class="info-item">
              <span class="info-label"
                >Description: {{.Result.Description}}</span
              >
            </div>
          </div>
        </div>
      </section>
      <footer></footer>
    </div>
  </body>
</html>
{{end}}
