{{define "index"}}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Accueil</title>
  </head>
  <body>
    <p>Texte pour tester</p>
    {{range .}}
    <li>
      <div>Nom du personnage: {{.Name}}</div> <br>
      <div><img src="{{.Img}}" alt="Char Img" class=""></div> <br>
      <div>Nom complet {{.Specs.FullName}}</div><br>
      <div>Age {{.Specs.Age}}</div><br>
      <div>Description {{.Specs.Apropos.Description}}</div><br>
      <div>Role {{.Specs.Apropos.Role}}</div><br>
      <div>Fruit du démon {{.Specs.Apropos.Fruit}}</div><br>
      <div>Personalité {{.Specs.Apropos.Personalité}}</div><br>
      <div>Apparence {{.Specs.Apropos.Apparence}}</div><br>
      <div>Capacités {{.Specs.Apropos.Capacités}}</div><br>
      <div>Histoire {{.Specs.Apropos.Histoire}}</div><br>
      <hr>
    </li>
    {{end}}
  </body>
</html>
{{end}}
