{{define "index"}}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Accueil</title>
  </head>
  <body>
    <p>Texte pour tester</p>
    {{range .}}
    <li>
      <div>Nom du personnage: {{.Name}}</div> <br>
      <div><img src="{{.Img}}" alt="Char Img" class=""></div> <br>
      <div>Description {{.Description}}</div><br>
      <hr>
    </li>
    {{end}}
  </body>
</html>
{{end}}
