{{define "search"}}
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/search.css">
  <title>Search Results</title>
</head>

<body>
  <header>
    <div class="menu">
      <div class="cont">
        <a class="h-link" href="/Home">
          <img class="home" src="../static/img/index/home.png" alt="Home" />
          <p>ACCUEIL</p>
        </a>
      </div>
      <div class="cont">
        <a class="h-link" href="/categories">
          <img class="categories" src="../static/img/index/categories.png" alt="Categories" />
          <p>CATEGORIES</p>
        </a>
      </div>
      <a class="h-link" href="/admin">
        <img class="admin" src="../static/img/index/admin.png" alt="Admin" />
      </a>
    </div>
    <img class="logo" src="../static/img/index/logo.png" alt="Logo One Piece" />

    <div class="menu">
      <!-- mettre en place une route treatment pour faire fonctionner la navbar -->
      <form action="/search" method="get">
        <input type="text" id="search" name="name" placeholder="Cherchez le One Piece !" />
      </form>
      <div class="cont">
        {{if .Logged}}
        <a class="h-link" href="/logout">
          <img class="login" src="../static/img/index/login.png" alt="Login" />
          <p>{{.Cat}}</p>
        </a>
        {{else}}
        <a class="h-link" href="/login">
          <img class="login" src="../static/img/index/login.png" alt="Login" />
          <p>LOGIN</p>
        </a>
        {{end}}
      </div>
    </div>
  </header>
  <section>
  <h1>Search Results</h1>
  {{range .Result}}
  <div class="affiche">
    <a href="/{{.Categorie}}?id={{.ID}}"><strong>Image:</strong> <img src="{{.Affiche}}" alt="Image not available"><br>
      <strong>Description:</strong> {{.Description}}</a><br><br>
  </div>
  {{end}}
</section>
  <footer></footer>
</body>

</html>
{{end}}