{{define "selectevent"}}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/selectevent.css" />
  <title>Categories</title>
</head>

<body>
  <div class="contentall">
    <header>
      <div class="menu">
        <div class="cont">
          <a class="h-link" href="/accueil">
            <img class="home" src="../static/img/index/home.png" alt="Home" />
            <p>ACCUEIL</p>
          </a>
        </div>
        <div class="cont">
          <a class="h-link" href="/categories">
            <img class="categories" src="../static/img/index/categories.png" alt="Categories" />
            <p>CATEGORIES</p>
          </a>
        </div>
        <a class="h-link" href="/admin">
          <img class="admin" src="../static/img/index/admin.png" alt="Admin" />
        </a>
      </div>
      <img class="logo" src="../static/img/index/logo.png" alt="Logo One Piece" />

      <div class="menu">
        <!-- mettre en place une route treatment pour faire fonctionner la navbar -->
        <form action="" method="">
          <input type="text" id="search" name="q" placeholder="Cherchez le One Piece !" />
        </form>
        <div class="cont">
          <a class="h-link" href="/login">
            <img class="login" src="../static/img/index/login.png" alt="Login" />
            <p>LOGIN</p>
          </a>
        </div>
      </div>
    </header>
    <section>
      <div>
        <div>
          {{range .}}
          <a href="/EventsOnePiece?id={{.id}}">
            <img class="selectchar" src="{{.affiche}}" alt="affiche perso" /></a>
          {{end}}
      </div>
    </section>
    <footer></footer>
  </div>
</body>

</html>
{{end}}