{{define "newArc"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/statics/fav.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/submit.css" />
  <title>Register</title>
</head>

<body>
  <div class="contentall">
    <header>
      <div class="menu">
        <div class="cont">
          <a class="h-link" href="/Home">
            <img class="home" src="../static/img/index/home.png" alt="Home" />
            <p>ACCUEIL</p>
          </a>
        </div>
        <div class="cont">
          <a class="h-link" href="/categories">
            <img class="categories" src="../static/img/index/categories.png" alt="Categories" />
            <p>CATEGORIES</p>
          </a>
        </div>
        <a class="h-link" href="/admin">
          <img class="admin" src="../static/img/index/admin.png" alt="Admin" />
        </a>
      </div>
      <img class="logo" src="../static/img/index/logo.png" alt="Logo One Piece" />

      <div class="menu">
        <!-- mettre en place une route treatment pour faire fonctionner la navbar -->
        <form action="/search" method="get">
          <input type="text" id="search" name="name" placeholder="Cherchez le One Piece !" />
        </form>
        <div class="cont">
          {{if .Logged}}
          <a class="h-link" href="/logout"><img class="login" src="../static/img/index/login.png" alt="Login" />
            <p>{{.Cat}}</p>
          </a>
          {{else}}
          <a class="h-link" href="/login">
            <img class="login" src="../static/img/index/login.png" alt="Login" />
            <p>LOGIN</p>
          </a>
          {{end}}
        </div>
      </div>
    </header>
    <section>
      <h1>Register Arc<br><br></h1>
      <form action="/admin/newArc/gestion" method="post" enctype="multipart/form-data">
        <label for="arcName">Arc Name:</label>
        <input type="text" id="arcName" name="arcName" required /><br /><br />
        <label for="arcImage">image:</label>
        <input type="file" id="arcImage" name="arcImage" required /><br /><br />

        <a href="/downloadArc">Téléchargement du template d'Affiche</a><br>
        <label for="arcAffiche">affiche:</label>
        <input type="file" id="arcAffiche" name="arcAffiche" required /><br /><br />

        <label for="arcEpisodeAnime">Arc épisode animé (debut-fin):</label>
        <input type="text" id="arcEpisodeAnime" name="arcEpisodeAnime" required /><br /><br />
        <label for="arcChapitreManga">Arc chapitre manga (debut-fin):</label>
        <input type="text" id="arcChapitreManga" name="arcChapitreManga" required /><br /><br />
        <label for="arcDescription">Arc description:</label>
        <textarea type="text" id="arcDescription" name="arcDescription" required></textarea><br /><br />
        <label for="arcIntro">Arc intro:</label>
        <textarea type="text" id="arcIntro" name="arcintro" required></textarea><br /><br />
        <input type="submit" value="Register" />
      </form>
    </section>
    <footer>
      <div class="mentproj">
        <br><br><br><br>
        <a class="ment" href="/mentionLegale">
          <p>MENTIONS LEGALES</p>
        </a>
        <br>
        <a class="ment" href="/Projet">
          <p>GESTION DE PROJET</p>
        </a>
      </div>
    </footer>
  </div>
</body>

</html>
{{end}}