*{
    padding: 0;
    margin: 0;
}

.contentall{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-link{
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: -webkit-linear-gradient(90deg, #131169,#1a17b4,#131169);                          
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 40px;
}

.cont{
    font-weight: 1000;
    color: #fff;
}

.home{
    height: 70px;
    margin-bottom: 10px;
}

.categories{
    height: 70px;
    width: 80px;
    margin-bottom: 10px;
}

.admin{
    height: 100px;
}

.logo{
    height: 100px;
}

.login{
    height:60px;
}

input{
    border-radius: 20px;
    padding: 10px;

}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

a button {
    display: flex;
    border: none;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 10px 10px 10px;
    min-height: 100px;
    min-width: 100px;
}

a button.nouveau-personnage {
    background-image: url('/static/img/button.jpg');
}

a button.nouvelle-arc {
    background-image: url('/static/img/button.jpg');
}

a button.nouvelle-event {
    background-image: url('/static/img/button.jpg');
}

a button.supprimer-article {
    background-image: url('/static/img/button.jpg');
}

a button.modifier-compte {
    background-image: url('/static/img/button.jpg');
}
footer{
    height: 30vh;
    width: 100vw;
    background-image: url("/static/img/categories/back-bateaux2.png");
    background-position: top;
    background-size: 3000px;
}